<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css">
    <link rel="stylesheet" href="css/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="css/codemirror/theme/material.css">
  </head>
  <body>
    <textarea id="content" class="hidden"></textarea>

    <style>
      #content {
        display: none;
      }

      .CodeMirror {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 16px;
        font-family: 'Fira Code', monospace;
      }
    </style>

    <script src="js/codemirror/lib/codemirror.js"></script>
    <script src="js/codemirror/mode/xml/xml.js"></script>
    <script src="js/codemirror/mode/javascript/javascript.js"></script>
    <script src="js/codemirror/mode/yaml/yaml.js"></script>
    <script src="js/codemirror/mode/markdown/markdown.js"></script>

    <script>
      const contentEl = document.getElementById('content');

      const editor = CodeMirror.fromTextArea(contentEl, {
        mode: "markdown",
        lineNumbers: true,
        lineWrapping: true,
        theme: 'material',
        tabSize: 2,
        indentWithTabs: false,
        readOnly: true,
      });

      function receiveMessage(event) {
        switch (event.data.eventName) {
          case 'content':
            fetch('/markdown/generate', {
                method: 'POST',
                body: event.data.content,
              })
              .then(res => res.text())
              .then(md => {
                contentEl.value = md;
                editor.setValue(md);
              })
            break;
        }
      }

      window.addEventListener("message", receiveMessage, false);
    </script>
  </body>
</html>
